<style>
  variable-output {
    display: block;
    padding-bottom: 5px;
  }
</style>

<variable-output label="Profile Picture" value="gender.profile_pic_code">         </variable-output>
<variable-output label="Intrested In"    value="gender.interested_in_code">       </variable-output>
<variable-output label="Relation"        value="gender.relationship_status_code"> </variable-output>
<variable-output label="Looking For"     value="gender.looking_for_code">         </variable-output>
<variable-output label="Birthday"        value="gender.birthday_code">            </variable-output>
<variable-output label="Hometown"        value="gender.hometown_code">            </variable-output>
<variable-output label="Residence"       value="gender.residence_code">            </variable-output>
<variable-output label="Contact"         value="gender.contact_code">             </variable-output>
<variable-output label="Previous Names"  value="gender.previous_name_code">       </variable-output> 
<variable-output label="Family Friends"  value="gender.family_friends_code">      </variable-output> 
<variable-output label="Employers"       value="gender.employers_code">           </variable-output>
<variable-output label="High School"     value="gender.high_school_code">         </variable-output>
<variable-output label="Class Year"      value="gender.class_year_code">          </variable-output>
<variable-output label="Friends"         value="gender.friends_others_code">      </variable-output>
<variable-output label="Group"           value="gender.groups_code">              </variable-output>
<variable-output label="Activity"        value="gender.activities_code">          </variable-output>
<variable-output label="Interest"        value="gender.interest_code">            </variable-output>
<variable-output label="Music"           value="gender.music_code">               </variable-output>
<variable-output label="TV"              value="gender.tv_code">                  </variable-output>
<variable-output label="Movie"           value="gender.movies_code">              </variable-output>
<variable-output label="Sports"          value="gender.sports_code">              </variable-output>
<variable-output label="Book"            value="gender.books_code">               </variable-output>
<variable-output label="Apps"            value="gender.apps_code">                </variable-output>
<variable-output label="Quote"           value="gender.quotes_code">              </variable-output>
<variable-output label="About Me"        value="gender.about_me_code">            </variable-output>
<variable-output label="Cover Photos"    value="gender.cover_photos_code">        </variable-output>
<variable-output label="Albums"          value="gender.album_code">               </variable-output>
<variable-output label="Videos"          value="gender.video_code">               </variable-output>
<variable-output label="Post"            value="gender.post_code">                </variable-output>
<variable-output label="Shares"          value="gender.shares_code">              </variable-output>
<variable-output label="Check'ins"       value="gender.checkIns_code">            </variable-output>
<variable-output label="Events"          value="gender.events_code">              </variable-output>
